<!DOCTYPE html>
<html>
<head>
    <title>your mom</title>
</head>
<style>
    .container {
      position: relative;
      display: inline-block;
    }

    .btn-on-image {
      position: absolute;
      top: 20px;    /* distance from top */
      left: 20px;   /* distance from left */
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .btn-on-image:hover {
      background-color: #0056b3;
    }
  </style>
<body>
    <h1>YOU HAVE BEEN HACKED</h1>
    <p>Login to retrieve your account</p><div class="container">
  <img src="{{ url_for('static', filename='Anomali.jpg') }}"alt="gay" width="600">
   <!-- Your button -->
    <button class="btn-on-image" onclick="playSound()">Play Sound</button>
</div>
<div>
    </head>
<body>

  <div class="container">
    <img src="{{ url_for('static', filename='your_image.jpg') }}" width="600">

    <!-- Hidden audio element -->
    <audio id="myAudio">
      <source src="{{ url_for('static', filename='sahoraudio.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>

  <script>
    function playSound() {
      var audio = document.getElementById("myAudio");
      audio.play();
    }
  </script>

</body>
</html>


